
@{
    ViewBag.Title = "Pago Requerido";
}
<center>
    <img src="~/Imagenes/Verte Bien Transparente 2.png" width="128" height="128" style="margin-top:2%" />
    <h4>@ViewBag.Title</h4>
    <hr class="w-50" />
</center>
<br />
<style>

    p {
        line-height: 1.5;
    }

    .highlight {
        font-weight: bold;
        color: #DBA312;
        
    }
    .text-bold {
        font-weight: bold;
    }
</style>

<div class="container w-75">


    <div class="container p-2 shadow border-2">
        <h2>Notificación de Pago Pendiente</h2>
        <p>Estimado/a Cliente,</p>
        <p>Queremos informarle que hemos identificado un pago pendiente asociado a su cuenta en nuestra plataforma. Agradecemos su colaboración para realizar la correspondiente transferencia y así mantener su cuenta al día.</p>

        <p>A continuación, le proporcionamos los detalles necesarios para efectuar la transferencia:</p>

        <ul>
            <li><span class="highlight">Banco:</span> Produbanco</li>
            <li><span class="highlight">Tipo de cuenta:</span> Cuenta Corriente Nacional</li>
            <li><span class="highlight">Número de cuenta:</span> 02005291158</li>
            <li><span class="highlight">Nombre de la cuenta:</span> EXPRESION TECNOLOGICA DIGITAL VERTEBIEN S.A.S.</li>
            <li><span class="highlight">RUC/Identificación:</span> 1793189938001</li>
        </ul>

        <p>Le solicitamos realizar la transferencia a la mayor brevedad posible. Después de completar la transacción, por favor envíe el comprobante al correo electrónico <span class="highlight text-lowercase">pagos@vertebien.net</span> y su <span class="text-bold">usuario (correo electrónico) registrado en la plataforma vertebien.net</span>. Esto facilitará la verificación y actualización oportuna de su cuenta.</p>

        <p>Gracias por su pronta atención a este asunto. Si tiene alguna pregunta o necesita asistencia adicional, no dude en ponerse en contacto con nosotros.</p>
    </div>

  
</div>






<p class="my-4" style="color:#DBA312">En caso de que esto sea un error comunicarse con nosotros por cualquiera de nuestras vias de comunicacion.</p>
