@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
}



<center>
    <img src="~/Imagenes/Verte Bien Transparente 2.png" width="128" height="128" style="margin-top:2%" />
    <h4>@ViewBag.Title </h4>
    <hr class="w-50" />

    <br />


    <div>
        <p class="card-text py-2">
            Compruebe el correo electrónico para restablecer la contraseña.
        </p>

    </div>

</center>