@{
    ViewBag.Title = "Confirmación de restablecimiento de contraseña";
}


<center>
    <img src="~/Imagenes/Verte Bien Transparente 2.png" alt="Logo" width="128" height="128" style="margin-top:2%" />
    <h4>@ViewBag.Title.</h4>
    <hr class="w-50" />
</center>


<div class="container my-5">
    <p class="h5 My-2 text-center">
        Se restableció la contraseña. @Html.ActionLink("Haga clic aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="h5" })
    </p>
</div>
