
/*Genericos*/

/*.btnservicios {
    background-color: #DBA312 !important;
    color: white !important;
    padding: 3px !important;
} */

/*.price {
    font-size: 16px !important;
    text-align: right !important;
    margin-left: 1px !important;
}*/




/*Border*/
.boder {
    border: 1px #000 solid;
}

.c {
    width: 15%;
}



/*Media query*/
@media only screen and (min-width: 1200px) {
    .cos {
        width: 200px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .cos {
        max-width: 90% !important;
        font-size: 1.0rem !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) la tarjeta como tal ! */
@media only screen and (min-width:992px) {
    .cos {
        max-width: 60.3vh !important;
    }
}

@media only screen and (min-width: 768px) {
    .imagenr {
        width: 200px !important;
        height: 200px !important;
    }
}



@media only screen and (max-width:375.98px) {
    .price {
        font-size: 3.1vw !important;
        text-align: right !important;
        padding: 0.2vw !important;
        margin-left: 0.1vw !important;
        margin-right: 0.1vw !important;
        margin-bottom: 0.2vh !important;
    }
}

@media only screen and (max-width:375.98px) {
    .btnservicios {
        font-size: 3vw !important;
        padding: 0.4vw !important;
        margin-bottom: 0.6rem !important;
    }
}

@media only screen and (max-width:375.98px) {
    .card-body {
        padding: 0.4rem 0.5rem !important;
    }
}

@media only screen and (max-width:375.98px) {
    .card-img {
        max-height: 35vh !important;
        max-width: 100% !important;
        padding: 0.4rem 0.5rem !important;
        align-content: center;
    }
}

@media only screen and (min-width:410px) {
    .price {
        font-size: 3.8vw !important;
        text-align: right !important;
        margin: 0.1px !important;
        padding: 0px;
    }
}

@media only screen and (min-width:410px) {
    .btnservicios {
        font-size: 3.5vw !important;
        padding: 0px !important;
        margin-bottom: 0.8rem !important;
    }
}

@media only screen and (min-width: 768px) {
    .price {
        font-size: 20px !important;
        text-align: right !important;
    }
}

@media only screen and (min-width: 768px) {
    .btnservicios {
        font-size: 18px !important;
    }
}

@media only screen and (min-width:992px) {
    .btnservicios {
        font-size: 3.5vw !important;
        padding: 0px !important;
    }
}

@media only screen and (min-width: 992px) {
    .price {
        font-size: 3vw !important;
        text-align: right !important;
    }
}

@media only screen and (min-width: 992px) {
    .card-text {
        font-size: 0.9vw !important;
    }
}

@media only screen and (min-width:992px) {
    .card-img {
        max-height: 50% !important;
    }
}

@media only screen and (min-width:768px) {
    .card-img {
        max-height: 70% !important;
    }
}

@media only screen and (min-width:768px) {
    .card-img {
        max-height: 70% !important;
        padding-bottom: 0px !important;
    }
}

@media only screen and (min-width:992px) {
    .card-img {
        max-height: 100% !important;
    }
}

/*resolucion espacial*/
@media only screen and (min-width: 576px) {
    .price {
        font-size: 12px !important;
        text-align: right !important;
    }
}

@media only screen and (min-width:576px) {
    .btnservicios {
        font-size: 14px !important;
        padding: 2px !important;
    }
}





/*Detalle producto*/

.product-content {
    margin-bottom: 20px;
    margin-top: 12px;
    background: #fff
}

    .product-content .carousel-control.left {
        margin-left: 0
    }

    .product-content .product-image {
        background-color: #fff;
        display: block;
        min-height: 238px;
        overflow: hidden;
        position: relative
    }

    .product-content .product-deatil {
        padding-bottom: 17px;
        padding-left: 16px;
        padding-top: 16px;
        position: relative;
        background: #fff
    }

        .product-content .product-deatil h5 a {
            color: #2f383d;
            font-size: 15px;
            line-height: 19px;
            text-decoration: none;
            padding-left: 0;
            margin-left: 0
        }

            .product-content .product-deatil h5 a span {
                color: #9aa7af;
                display: block;
                font-size: 13px
            }

        .product-content .product-deatil span.tag1 {
            border-radius: 50%;
            color: #fff;
            font-size: 15px;
            height: 50px;
            padding: 13px 0;
            position: absolute;
            right: 10px;
            text-align: center;
            top: 10px;
            width: 50px
        }

        .product-content .product-deatil span.sale {
            background-color: #21c2f8
        }

        .product-content .product-deatil span.discount {
            background-color: #71e134
        }

        .product-content .product-deatil span.hot {
            background-color: #fa9442
        }

    .product-content .description {
        font-size: 12.5px;
        line-height: 20px;
        padding: 10px 14px 16px 19px;
        background: #fff
    }

    .product-content .product-info {
        padding: 11px 19px 10px 20px
    }

        .product-content .product-info a.add-to-cart {
            color: #2f383d;
            font-size: 13px;
            padding-left: 16px
        }

    .product-content name.a {
        padding: 5px 10px;
        margin-left: 16px
    }

.product-info.smart-form .btn {
    padding: 6px 12px;
    margin-left: 12px;
    margin-top: -10px
}

.product-entry .product-deatil {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative
}

    .product-entry .product-deatil h5 a {
        color: #2f383d;
        font-size: 15px;
        line-height: 19px;
        text-decoration: none
    }

        .product-entry .product-deatil h5 a span {
            color: #9aa7af;
            display: block;
            font-size: 13px
        }

.dtext {
    text-align: left;
    font-size: 28px;
    color: #6d7a83;
    line-height: 16px;
    text-decoration: none;
}

.load-more-btn {
    background-color: #21c2f8;
    border-bottom: 2px solid #037ca5;
    border-radius: 2px;
    border-top: 2px solid #0cf;
    margin-top: 20px;
    padding: 9px 0;
    width: 100%
}

.product-block .product-deatil p.price-container span,
.product-content .product-deatil p.price-container span,
.product-entry .product-deatil p.price-container span,
.shipping table tbody tr td p.price-container span,
.shopping-items table tbody tr td p.price-container span {
    color: #21c2f8;
    font-size: 24px;
    line-height: 20px
}

.product-info.smart-form .rating label {
    margin-top: 0
}

.product-wrap .product-image span.tag2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 10px 0;
    color: #fff;
    font-size: 11px;
    text-align: center
}

.product-wrap .product-image span.sale {
    background-color: #57889c
}

.product-wrap .product-image span.hot {
    background-color: #a90329
}

.shop-btn {
    position: relative
}

    .shop-btn > span {
        background: #a90329;
        display: inline-block;
        font-size: 10px;
        box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
        font-weight: 700;
        border-radius: 50%;
        padding: 2px 4px 3px !important;
        text-align: center;
        line-height: normal;
        width: 19px;
        top: -7px;
        left: -7px
    }

.description-tabs {
    padding: 30px 0 5px !important
}

    .description-tabs .tab-content {
        padding: 10px 0
    }

.product-deatil {
    padding: 30px 30px 50px
}

    .product-deatil hr + .description-tabs {
        padding: 0 0 5px !important
    }

    .product-deatil .carousel-control.left,
    .product-deatil .carousel-control.right {
        background: none !important
    }

    .product-deatil .glyphicon {
        color: #3276b1
    }

    .product-deatil .product-image {
        border-right: none !important
    }

    .product-deatil .name {
        margin-top: 0;
        margin-bottom: 0
    }

        .product-deatil .name small {
            display: block
        }

        .product-deatil .name a {
            margin-left: 0
        }

    .product-deatil .price-container {
        font-size: 24px;
        margin: 0;
        font-weight: 300
    }

        .product-deatil .price-container small {
            font-size: 12px;
        }

    .product-deatil .fa-2x {
        font-size: 16px !important;
    }

        .product-deatil .fa-2x > h5 {
            font-size: 12px;
            margin: 0;
        }

        .product-deatil .fa-2x + a,
        .product-deatil .fa-2x + a + a {
            font-size: 13px;
        }



.profile-message ul {
    list-style: none;
}

.product-deatil .certified {
    margin-top: 10px
}

    .product-deatil .certified ul {
        padding-left: 0
    }
        /*element.style {
    margin-left: 5px;
}*/
        .product-deatil .certified ul li:not(first-child) {
            margin-left: 3px
        }

        .product-deatil .certified ul li {
            display: inline-block;
            /*background-color: #f9f9f9;*/
            border: 1px solid #ccc;
            padding: 13px 19px
        }

            /* primer elemento de la lista*/
            .product-deatil .certified ul li:first-child {
            }

            .product-deatil .certified ul li a {
                text-align: left;
                font-size: 28px;
                color: #6d7a83;
                line-height: 16px;
                text-decoration: none
            }

                .product-deatil .certified ul li a span {
                    display: block;
                    color: #DBA312;
                    font-size: 13px;
                    font-weight: 700;
                    text-align: center
                }



.comentarios {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    padding: 13px 19px;
    overflow: hidden scroll;
}

    .comentarios:hover {
        border-radius: .25rem !important;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }
/* Handle */
.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}


@media (max-width: 576px) {
    .Miser {
        max-height: 500px;
    }
}

.Miser {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    padding: 13px 19px;
    overflow: hidden scroll;
}

.comentedit {
    width: 100%;
    height: 100px;
    padding: 13px 19px;
    overflow: hidden scroll;
}
/*iconos de redes sociales*/
.sn {
    color: #DBA312 !important;
    font-size: 24px;
    margin-right: 8px !important;
    margin-left: 2px !important;
}

.product-deatil .message-text {
    width: calc(100% - 70px)
}

.cf {
    display: flex;
    flex: 1;
}

.cff {
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width:1024px) {
    .product-content div[class*=col-md-4] {
        padding-right: 0
    }

    .product-content div[class*=col-md-8] {
        padding: 0 13px 0 0
    }

    .product-wrap div[class*=col-md-5] {
        padding-right: 0
    }

    .product-wrap div[class*=col-md-7] {
        padding: 0 13px 0 0
    }

    .product-content .product-image {
        border-right: 1px solid #dfe5e9
    }

    .product-content .product-info {
        position: relative
    }
}

.message img.online {
    width: 500px;
    height: 500px;
}

/*GALERIA DOS*/
#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
}

#galeria img {
    width: 100%;
    height: 250px;
}

#galeria img {
    width: 100%;
    height: 250px;
}

.ss {
    width: auto;
    height: 100%;
    border: 5px solid white;
    border-radius: 5px;
}

.sss {
    width: auto;
    height: auto;
}

@media (min-width: 992px) {
    .ss {
        max-height: 220px !important;
    }
}

@media (min-width: 992px) {
    .sss {
        max-height: 220px !important;
    }
}

/* No greater than 900px, no less than 768px */
@media (max-width:991px) and (min-width:768px) {
    .ss {
        max-height: 239px !important;
    }
}

/* No greater than 900px, no less than 768px */
@media (max-width:991px) and (min-width:768px) {
    .sss {
        height: 239px !important;
    }
}


@media (max-width: 767px) {
    .ss {
        height: 300px !important;
        width: 90% !important;
    }
}

@media (max-width: 767px) {
    .sss {
        max-height: 300px !important;
    }
}

​
#galeria img:hover {
    border: 5px solid white;
}

/**/
.promedio {
    pointer-events: none;
}
/*Imagenes delete revisar cuando esten dinamicas.*/
/*img {
    width: 100%;
    max-width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
}*/

/*lineas en la tarjeta delete*/
.dbox p {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DBA312;
}
    /*lineas en la tarjeta delete last child*/
    .dbox p:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

.dboxx p {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DBA312;
}

.dboxx ul li p i {
    color: #DBA312 !important;
}

.edi {
    width: 50% !important;
}

@media only screen and (max-width: 768px) {
    .edi {
        width: 100% !important;
    }
}

.fa {
    color: #DBA312 !important;
    font-size: 22px;
}

.nr {
    font-size: small;
}

.bss {
    background-color: #DBA312 !important;
    color: white !important;
}

    .bss:hover {
        background-color: #333333 !important;
    }

.simg {
    width: 100% !important;
    max-width: 540px !important;
    height: 100% !important;
    max-height: 300px !important;
}

@media only screen and (max-width: 768px) {
    .simg {
        height: 100%;
        max-height: 350px;
        max-width: 100%
    }
}

/*********LOGINNNNNNNNNNNNNNNNN***************/
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
/*@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}
*/
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/*---------------------------------------------*/
a {
    /*  font-family: Poppins-Regular;*/
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #DBA312;
    }

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

    textarea:focus, input:focus {
        border-color: transparent !important;
    }

        input:focus::-webkit-input-placeholder {
            color: transparent;
        }

        input:focus:-moz-placeholder {
            color: transparent;
        }

        input:focus::-moz-placeholder {
            color: transparent;
        }

        input:focus:-ms-input-placeholder {
            color: transparent;
        }

        textarea:focus::-webkit-input-placeholder {
            color: transparent;
        }

        textarea:focus:-moz-placeholder {
            color: transparent;
        }

        textarea:focus::-moz-placeholder {
            color: transparent;
        }

        textarea:focus:-ms-input-placeholder {
            color: transparent;
        }

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
}

.txt2 {
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}


.wrap-login100 {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 130px 33px 95px;
    box-shadow: 10px 10px 60px 10px #D0D0D0;
    margin-bottom: 20px;
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
    width: 316px;
}

    .login100-pic img {
        max-width: 100%;
    }


/*------------------------------------------------------------------
[  ]*/
.login100-form {
    width: 290px;
}

.login100-form-title {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
}


/*---------------------------------------------*/
.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input100 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(219,163,18, 0.8);
}

.input100:focus + .focus-input100 {
    box-shadow: 0 0 0 rgba(219,163,18, 0.8);
}

.btn {
}

/*FOCUS BOTONOES DE IMAGENES*/
/*input[type="file"] {
    display: none;
}*/

#cfile {
    color: white;
    background-color: #dba312;
    font-size: 20px;
    text-align: center;
}

/* LIGHT BOX TAMAño*/
.lb-outerContainer {
    width: 600px !important;
    height: 600px !important;
}

.lb-image {
    width: 600px !important;
    height: 600px !important;
}

/* FIN LIGHT BOX TAMAño*/


/* Boton volver secundatio*/
#volbtn {
    color: #DBA312 !important;
    border-color: #DBA312 !important;
}

    #volbtn:hover {
        color: rgba(255, 255, 255, 0.95) !important;
        background-color: #dba312 !important;
    }

.btn-check:focus + .btn-outline-warning, .btn-outline-warning:focus {
    box-shadow: 0 0 0 0.25rem #dba312 !important;
}

/*FOCUS BOTONES DE subir IMAGENES*/
@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

.symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
/* iconos dentro del input*/
.input100:focus + .focus-input100 + .symbol-input100 {
    color: #DBA312;
    padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login100-form-btn {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #DBA312;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    .login100-form-btn:hover {
        background: #333333;
    }



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
    .wrap-login100 {
        padding: 177px 90px 33px 85px;
    }

    .login100-pic {
        width: 35%;
    }

    .login100-form {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .wrap-login100 {
        padding: 100px 80px 33px 80px;
    }

    .login100-pic {
        display: none;
    }

    .login100-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 100px 15px 33px 15px;
    }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.regis a {
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
}


/*//////////////////Estrellas/////////////////////////////*/
.fa, .fas {
    text-decoration: none !important;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario_grupo-correcto .formulario_validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario_grupo-incorrecto .formulario_label {
    color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario_grupo-incorrecto .formulario_input {
    border: 3px solid #bb2929;
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__input-errorr {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

.formulario__input-error-activo {
    display: block;
}