
/*Genericos*/



/*Border*/
.boder {
    border:1px #000 solid;
}
.c {
   width:15%;
}

/*Media query*/
@media only screen and (min-width: 1200px) {
    .cos {
     
        width:200px;
        
    }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .cos {
      
        max-width: 90% !important;
       
        font-size: 1.0rem !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) la tarjeta como tal ! */
@media only screen and (min-width:992px) {
    .cos {
        max-width: 60.3vh !important;
       
    }
}
@media only screen and (min-width: 768px) {
    .imagenr {
        width: 200px !important;
        height: 200px !important;
    }
}



@media only screen and (max-width:375.98px) {
    .price {
        font-size: 3.1vw !important;
        text-align: right !important;
        padding: 0.2vw !important;
        margin-left: 0.1vw !important;
        margin-right: 0.1vw !important;
        margin-bottom: 0.2vh !important;
    }
}

@media only screen and (max-width:375.98px) {
    .btnservicios {
        font-size: 3vw !important;
        padding: 0.4vw !important;
        margin-bottom: 0.6rem !important;
    }
}
@media only screen and (max-width:375.98px) {
    .card-body {
        padding: 0.4rem 0.5rem !important;
    }
}
@media only screen and (max-width:375.98px) {
    .card-img {
        max-height: 35vh !important;
        max-width: 100% !important;
        padding: 0.4rem 0.5rem !important;
        align-content:center;
    }
}

    @media only screen and (min-width:410px) {
        .price {
            font-size: 3.8vw !important;
            text-align: right !important;
            margin: 0.1px !important;
            padding: 0px;
            
        }
    }

    @media only screen and (min-width:410px) {
        .btnservicios {
            font-size: 3.5vw !important;
            padding: 0px !important;
            margin-bottom: 0.8rem !important;
          
        }
    }

    @media only screen and (min-width: 768px) {
        .price {
            font-size: 20px !important;
            text-align: right !important;
        }
    }

    @media only screen and (min-width: 768px) {
        .btnservicios {
            font-size: 18px !important;
        }
    }

    @media only screen and (min-width:992px) {
        .btnservicios {
            font-size: 3.5vw !important;
            padding: 0px !important;
        }
    }

@media only screen and (min-width: 992px) {
    .price {
        font-size: 3vw !important;
        text-align: right !important;
    }
}
/*@media only screen and (min-width: 992px) {
    .card-text{
        font-size: 1.5vw !important;
    }
}*/
@media only screen and (min-width:992px) {
    .card-img {
        max-height: 50% !important;
    }
}

    @media only screen and (min-width:768px) {
        .card-img {
            max-height: 70% !important;
        }
    }

    @media only screen and (min-width:768px) {
        .card-img {
            max-height: 70% !important;
            padding-bottom: 0px !important;
        }
    }

    @media only screen and (min-width:992px) {
        .card-img {
            max-height: 100% !important;
        }
    }

    /*resolucion espacial*/
    @media only screen and (min-width: 576px) {
        .price {
            font-size: 12px !important;
            text-align: right !important;
        }
    }

    @media only screen and (min-width:576px) {
        .btnservicios {
            font-size: 14px !important;
            padding: 2px !important;
        }
    }





/*Detalle producto*/

/*Detalle producto nueva modificaciones */
.nav-pills > li > a {
    position: relative;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 1.25rem;
    color: #DBA312;
    margin:0 4px;
}
    .nav-pills > li > a:focus, .nav-pills > li > a:hover {
        color: #fff;
        background-color: #DBA312;
    }
.nav-pills > li > a:hover {
    color: #fff;
}

.nav-pills > li > a {
    border-radius: 4px;
}

.description-nombre {
    text-decoration: none;
    font-size: 1.1rem;
}
.product-deatil .name {
    margin-top: 0;
    margin-bottom: 0
}

    .product-deatil .name small {
        display: block
    }

    .product-deatil .name a {
        margin-left: 0
    }

.product-deatil .price-container {
    font-size: 24px;
    margin: 0;
    font-weight: 300
}

    .product-deatil .price-container small {
        font-size: 12px
    }





@media only screen and (max-width:576px) {
    .description-nombre {
        font-size: 1.2rem;
    }
    .nav > li > a {
       
        font-size: 0.9rem;
        
    }
    
}
/*Imagen detalles*/
/* 1 columna para smartphones */
.img-responsive {
    max-width: 100%;
    display: inline-block;
}
/* 2 columnas para tablets */
@media (min-width: 420px) {
    .img-responsive {
        max-width: 100%;
        height:auto;
    }
}
/* 4 columnas para grandes dispositivos*/
@media (min-width: 760px) {
    .img-responsive {
        max-width: 100%;
        min-height: 300px;
    }
}



    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        color: #fff;
        background-color: #DBA312;
    }


@media (min-width: 760px) {
    .imgsubir {
        flex: 0 0 auto !important;
        width: 30.333333% !important;
    }
}


 
/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
    position: relative;
    margin-top: 25px;
}

.carousel__anterior,
.carousel__siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #DBA312;
 /*   opacity: 20%;*/
    font-size:40px;
    z-index:3;
}

    .carousel__anterior:hover,
    .carousel__siguiente:hover {
        opacity: 100%;
    }

.carousel__anterior {
    left: -10px;
}

.carousel__siguiente {
    right: -10px;
}

.carousel__lista {
    overflow: hidden;
}

.carousel__elemento {
    text-align: center;
    width:98% !important;
}

.carousel__indicadores .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    opacity: 1;
    border-radius: 0;
}
.glider-dot.active {
    background: #DBA312 !important;
}

.carousel__indicadores .glider-dot:hover {
    opacity: .5 !important;
}

.carousel__indicadores .glider-dot.active {
    opacity: 1 !important;
}


/*FIN DEL CARUSEL De DETALLES DE SERVICIO*/
    /*fin Detalle producto nueva modificaciones */


                /* primer elemento de la lista*/
                .product-deatil .certified ul li:first-child {
                }

                .product-deatil .certified ul li a {
                    text-align: left;
                    font-size: 28px;
                    color: #6d7a83;
                    line-height: 16px;
                    text-decoration: none
                }

                    .product-deatil .certified ul li a span {
                        display: block;
                        color: #DBA312;
                        font-size: 13px;
                        font-weight: 700;
                        text-align: center
                    }

    /* ----- -----Comentarios  ----- ----- */

    .comentarios {
        width: 100%;
        height: 350px;
        border: 1px solid #ccc;
        padding: 13px 19px;
        overflow: hidden scroll;
    }
    /* ----- ----- FIN Comentarios  ----- ----- */

    .user-img {
        margin-top: 4px;
        margin-right: 4px;
    }

    .card {
        border: none;
        box-shadow: 5px 6px 6px 2px #e9ecef;
        border-radius: 4px
    }

    .dots {
        height: 4px;
        width: 4px;
        margin-bottom: 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block
    }


    .reply {
        margin-left: 12px
    }

        .reply small {
            color: #b7b4b4
        }

            .reply small:hover {
                color: green;
                cursor: pointer
            }

    /* Handle */
    .invisible-scrollbar::-webkit-scrollbar {
        display: none;
    }


    @media (max-width: 576px) {
        .Miser {
            max-height: 500px;
        }
    }

    .Miser {
        width: 100%;
      /*  height: 100vh;*/
        scroll-behavior: smooth;
        padding: 13px 19px;
        overflow: hidden scroll;
    }

    .comentedit {
        width: 100%;
        height: 100px;
        padding: 13px 19px;
        overflow: hidden scroll;
    }

    /*iconos de redes sociales*/
    .sn {
        color: #DBA312 !important;
        font-size: 24px;
        margin-right: 8px !important;
        margin-left: 2px !important;
    }

    .product-deatil .message-text {
        width: calc(100% - 70px)
    }

    .cf {
        display: flex;
        flex: 1;
    }

    .cff {
        display: flex;
        flex-direction: row;
    }
    /*Verificar*/
    @media only screen and (min-width:1024px) {
        .product-content div[class*=col-md-4] {
            padding-right: 0
        }

        .product-content div[class*=col-md-8] {
            padding: 0 13px 0 0
        }

        .product-wrap div[class*=col-md-5] {
            padding-right: 0
        }

        .product-wrap div[class*=col-md-7] {
            padding: 0 13px 0 0
        }

        .product-content .product-image {
            border-right: 1px solid #dfe5e9
        }

        .product-content .product-info {
            position: relative
        }
    }

    .message img.online {
        width: 500px;
        height: 500px;
    }
    /*Verificar*/
    /*GALERIA DOS*/
    #galeria .col-lg-4 {
        margin: 0 !important;
        padding: 25px;
    }

    #galeria img {
        width: 100%;
        height: 250px;
    }

    #galeria img {
        width: 100%;
        height: 250px;
    }

    .ss {
        width: auto;
        height: 100%;
        border: 5px solid white;
        border-radius: 5px;
    }

    .sss {
        width: auto;
        height: auto;
    }

    @media (min-width: 992px) {
        .ss {
            max-height: 220px !important;
        }
    }

    @media (min-width: 992px) {
        .sss {
            max-height: 220px !important;
        }
    }

    /* No greater than 900px, no less than 768px */
    @media (max-width:991px) and (min-width:768px) {
        .ss {
            max-height: 239px !important;
        }
    }

    /* No greater than 900px, no less than 768px */
    @media (max-width:991px) and (min-width:768px) {
        .sss {
            height: 239px !important;
        }
    }


    @media (max-width: 767px) {
        .ss {
            height: 300px !important;
            width: 90% !important;
        }
    }

    @media (max-width: 767px) {
        .sss {
            max-height: 300px !important;
        }
    }

    ​
    #galeria img:hover {
        border: 5px solid white;
    }

    /**/
    .promedio {
        pointer-events: none;
    }
    /*Imagenes delete revisar cuando esten dinamicas.*/
    /*img {
    width: 100%;
    max-width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
}*/

    /*lineas en la tarjeta delete*/
    .dbox p {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #DBA312;
    }
        /*lineas en la tarjeta delete last child*/
        .dbox p:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }

    .dboxx p {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #DBA312;
    }

    .dboxx ul li p i {
        color: #DBA312 !important;
    }

    .edi {
        width: 50% !important;
    }

    @media only screen and (max-width: 768px) {
        .edi {
            width: 100% !important;
        }
    }

    .fa {
        color: #DBA312 !important;
        font-size: 22px;
    }

    .nr {
        font-size: small;
    }

    .bss {
        background-color: #DBA312 !important;
        color: white !important;
    }

        .bss:hover {
            background-color: #333333 !important;
        }

    .simg {
        width: 100% !important;
        max-width: 540px !important;
        height: 100% !important;
        max-height: 300px !important;
    }

    @media only screen and (max-width: 768px) {
        .simg {
            height: 100%;
            max-height: 350px;
            max-width: 100%
        }
    }

    /*********LOGINNNNNNNNNNNNNNNNN***************/
  /*  * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }*/

.row {
    width:100% !important;
}


.cbtn {

}
@media only screen and (min-width: 768px) {
    .cbtn {
        max-width: 29% !important;
        margin-left:4px;
     
    }
}
@media only screen and (min-width: 992px) {
    .cbtn {
        max-width: 30% !important;
        margin-left: 4px;
        text-align: center;
    }
}


/*---------------------------------------------*/
a {
    /*  font-family: Poppins-Regular;*/
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

        a:focus {
            outline: none !important;
        }

        a:hover {
            text-decoration: none;
            color: #DBA312;
        }

    /*---------------------------------------------*/
    h1, h2, h3, h4, h5, h6 {
        margin: 0px;
    }

    p {
        font-size: 14px;
        line-height: 1.9;
        color: #666666;
        margin: 0px;
         padding: 10px 10px;
    }

    ul, li {
        margin: 0px;
        list-style-type: none;
    }


    /*---------------------------------------------*/
    input {
        outline: none;
        border: none;
    }

    textarea {
        outline: none;
        border: none;
    }

        textarea:focus, input:focus {
            border-color: transparent !important;
        }

            input:focus::-webkit-input-placeholder {
                color: transparent;
            }

            input:focus:-moz-placeholder {
                color: transparent;
            }

            input:focus::-moz-placeholder {
                color: transparent;
            }

            input:focus:-ms-input-placeholder {
                color: transparent;
            }

            textarea:focus::-webkit-input-placeholder {
                color: transparent;
            }

            textarea:focus:-moz-placeholder {
                color: transparent;
            }

            textarea:focus::-moz-placeholder {
                color: transparent;
            }

            textarea:focus:-ms-input-placeholder {
                color: transparent;
            }

    input::-webkit-input-placeholder {
        color: #999999;
    }

    input:-moz-placeholder {
        color: #999999;
    }

    input::-moz-placeholder {
        color: #999999;
    }

    input:-ms-input-placeholder {
        color: #999999;
    }

    textarea::-webkit-input-placeholder {
        color: #999999;
    }

    textarea:-moz-placeholder {
        color: #999999;
    }

    textarea::-moz-placeholder {
        color: #999999;
    }

    textarea:-ms-input-placeholder {
        color: #999999;
    }

    /*---------------------------------------------*/
    button {
        outline: none !important;
        border: none;
        background: transparent;
    }

        button:hover {
            cursor: pointer;
        }

    iframe {
        border: none !important;
    }


    /*//////////////////////////////////////////////////////////////////
[ Utility ]*/
    .txt1 {
        font-size: 13px;
        line-height: 1.5;
        color: #999999;
    }

    .txt2 {
        font-size: 13px;
        line-height: 1.5;
        color: #666666;
    }


    /*//////////////////////////////////////////////////////////////////
[ login ]*/

    .limiter {
        width: 100%;
        margin: 0 auto;
    }

    .container-login100 {
        width: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }


    .wrap-login100 {
        width: 960px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 100px 130px 33px 95px;
        box-shadow: 10px 10px 60px 10px #D0D0D0;
        margin-bottom: 20px;
    }

    /*------------------------------------------------------------------
[  ]*/
    .login100-pic {
        width: 316px;
    }

        .login100-pic img {
            max-width: 100%;
        }


    /*------------------------------------------------------------------
[  ]*/
    .login100-form {
        width: 290px;
    }

    .login100-form-title {
        font-family: Poppins-Bold;
        font-size: 24px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
        width: 100%;
        display: block;
        padding-bottom: 54px;
    }


    /*---------------------------------------------*/
    .wrap-input100 {
        position: relative;
        width: 100%;
        z-index: 1;
        margin-bottom: 10px;
    }

    .input100 {
        font-family: Poppins-Medium;
        font-size: 15px;
        line-height: 1.5;
        color: #666666;
        display: block;
        width: 100%;
        background: #e6e6e6;
        height: 50px;
        border-radius: 25px;
        padding: 0 30px 0 68px;
    }


    /*------------------------------------------------------------------
[ Focus ]*/
    .focus-input100 {
        display: block;
        position: absolute;
        border-radius: 25px;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 0px 0px;
        color: rgba(219,163,18, 0.8);
    }

    .input100:focus + .focus-input100 {
        box-shadow: 0 0 0 rgba(219,163,18, 0.8);
    }

  

    /*FOCUS BOTONOES DE IMAGENES*/
    input[type="file"] {
        display: none;
    }

.cfile, #cfile {
    color: white;
    background-color: #dba312;
    font-size: 20px;
    text-align: center;
    border-radius: 0.25rem;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    padding: 0.37rem 0.75rem;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


        /* LIGHT BOX TAMAño*/
        .lb-outerContainer {
            width: 600px !important;
            height: 600px !important;
        }

        .lb-image {
            width: 600px !important;
            height: 600px !important;
        }

@media only screen and (min-device-width: 371px) and (max-device-width: 750px) {
    /* inserta aquí tu código */
    .lb-outerContainer {
       width: 380px !important;
        height: 380px !important;
     
     
      
    }

    .lb-image {
       width: 380px !important;
        height: 380px !important;
       
    }

}
@media only screen and (min-device-width: 320px) and (max-device-width: 370px) {
    /* inserta aquí tu código */
    .lb-outerContainer {
        width: 340px !important;
        height: 340px !important;
    }

    .lb-image {
        width: 340px !important;
        height: 340px !important;
    }
}
        /* FIN LIGHT BOX TAMAño*/


        /* Boton volver secundatio*/
        #volbtn, .volbtn {
            color: #DBA312 !important;
            border-color: #DBA312 !important;
        }

            #volbtn:hover, .volbtn:hover {
                color: rgba(255, 255, 255, 0.95) !important;
                background-color: #dba312 !important;
            }

        .btn-check:focus + .btn-outline-warning, .btn-outline-warning:focus {
            box-shadow: 0 0 0 0.25rem #dba312 !important;
        }

        /*FOCUS BOTONES DE subir IMAGENES*/
        @-webkit-keyframes anim-shadow {
            to {
                box-shadow: 0px 0px 70px 25px;
                opacity: 0;
            }
        }

        @keyframes anim-shadow {
            to {
                box-shadow: 0px 0px 70px 25px;
                opacity: 0;
            }
        }

        .symbol-input100 {
            font-size: 15px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            position: absolute;
            border-radius: 25px;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-left: 35px;
            pointer-events: none;
            color: #666666;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }
        /* iconos dentro del input*/
        .input100:focus + .focus-input100 + .symbol-input100 {
            color: #DBA312;
            padding-left: 28px;
        }

        /*------------------------------------------------------------------
[ Button ]*/
        .container-login100-form-btn {
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 20px;
        }

        .login100-form-btn {
            font-family: Montserrat-Bold;
            font-size: 15px;
            line-height: 1.5;
            color: #fff;
            text-transform: uppercase;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            background: #DBA312;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 25px;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }

            .login100-form-btn:hover {
                background: #333333;
            }



        /*------------------------------------------------------------------
[ Responsive ]*/



        @media (max-width: 992px) {
            .wrap-login100 {
                padding: 177px 90px 33px 85px;
            }

            .login100-pic {
                width: 35%;
            }

            .login100-form {
                width: 50%;
            }
        }

        @media (max-width: 768px) {
            .wrap-login100 {
                padding: 100px 80px 33px 80px;
            }

            .login100-pic {
                display: none;
            }

            .login100-form {
                width: 100%;
            }
        }

        @media (max-width: 576px) {
            .wrap-login100 {
                padding: 100px 15px 33px 15px;
            }
        }


        /*------------------------------------------------------------------
[ Alert validate ]*/

        .validate-input {
            position: relative;
        }

        .alert-validate::before {
            content: attr(data-validate);
            position: absolute;
            max-width: 70%;
            background-color: white;
            border: 1px solid #c80000;
            border-radius: 13px;
            padding: 4px 25px 4px 10px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 8px;
            pointer-events: none;
            color: #c80000;
            font-size: 13px;
            line-height: 1.4;
            text-align: left;
            visibility: hidden;
            opacity: 0;
            -webkit-transition: opacity 0.4s;
            -o-transition: opacity 0.4s;
            -moz-transition: opacity 0.4s;
            transition: opacity 0.4s;
        }

        .alert-validate::after {
            content: "\f06a";
            font-family: FontAwesome;
            display: block;
            position: absolute;
            color: #c80000;
            font-size: 15px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 13px;
        }

        .alert-validate:hover:before {
            visibility: visible;
            opacity: 1;
        }

        @media (max-width: 992px) {
            .alert-validate::before {
                visibility: visible;
                opacity: 1;
            }
        }

        .regis a {
            font-size: 13px;
            line-height: 1.5;
            color: #666666;
        }

        /*/-----FIN LOGUIN---*/

        /*//////////////////Estrellas/////////////////////////////*/
        .fa, .fas {
            text-decoration: none !important;
        }



        /* ----- -----  Estilos para Validacion ----- ----- */
        .formulario__grupo-correcto .formulario__validacion-estado {
            color: #1ed12d;
            opacity: 1;
        }

        .formulario__grupo-incorrecto .formulario__label {
            color: #bb2929;
        }

        .formulario__grupo-incorrecto .formulario__validacion-estado {
            color: #bb2929;
            opacity: 1;
        }

        .formulario__grupo-incorrecto .formulario__input {
            border: 3px solid #bb2929;
        }

        .formulario__input-error {
            font-size: 12px;
            margin-bottom: 0;
            display: none;
        }

        .formulario__input-error-activo {
            display: block;
        }

        .formulario__input-errorr {
            font-size: 12px;
            margin-bottom: 0;
            display: none;
        }

        label.error {
            color: red;
            font-size: 1rem;
            display: block;
            margin-top: 5px;
        }

        input.error {
            border: 1px dashed red;
            font-weight: 300;
            color: red;
        }

        .formulario__input-error-activo {
            display: block;
        }

        /* ----- ----- FIN Estilos para Validacion ----- ----- */

        /*Logo responsive*/
        @media only screen and (max-width:576px) {
            .logo {
                height: auto !important;
                width: 60% !important;
            }
        }
        /* FIN Logo responsive*/


        /*AVISO DE COOKIES EMPIEZA AQUI*/

        .aviso-cookies {
            display: none;
            background: #fff;
            padding: 20px;
            width: calc(100% - 40px);
            max-width: 300px;
            line-height: 150%;
            border-radius: 10px;
            position: fixed;
            bottom: 20px;
            left: 20px;
            z-index: 100;
            /*padding-top: 60px;*/
            box-shadow: 0px 2px 10px 10px rgba(222,222,222,.25);
            text-align: center;
        }

            .aviso-cookies.activo {
                display: block;
            }

            .aviso-cookies .galleta {
                max-width: 250px;
                /*position: absolute;
        top: -50px;
        left: calc(50% - 50px);*/
                margin-bottom: 10px;
            }

            .aviso-cookies .titulo,
            .aviso-cookies .parrafo {
                margin-bottom: 15px;
            }

            .aviso-cookies .boton {
                width: 100%;
                background: #595959;
                border: none;
                color: #fff;
                font-family: 'Roboto', sans-serif;
                text-align: center;
                padding: 15px 20px;
                font-weight: 700;
                cursor: pointer;
                transition: .3s ease all;
                border-radius: 5px;
                margin-bottom: 15px;
                font-size: 14px;
            }

                .aviso-cookies .boton:hover {
                    background: #DBA312;
                }

            .aviso-cookies .enlace {
                color: #666666;
                text-decoration: underline;
                font-size: 14px;
            }

                .aviso-cookies .enlace:hover {
                    text-decoration: underline;
                }

        .fondo-aviso-cookies {
            display: none;
            background: rgba(0,0,0,.20);
            position: fixed;
            z-index: 99;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
        }

            .fondo-aviso-cookies.activo {
                display: block;
            }
        /*AVISO DE COOKIES TERMINA AQUI*/

        /*Segunda parte de detalles servicio */
        .project {
            margin: 15px 0;
        }

        .no-gutter .project {
            margin: 0 !important;
            padding: 0 !important;
        }

        .has-spacer {
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 30px;
        }

        .has-spacer-extra-space {
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 30px;
        }

        .has-side-spacer {
            margin-left: 30px;
            margin-right: 30px;
        }

        .project-title {
            font-size: 1.25rem;
        }

        .project-skill {
            font-size: 0.9rem;
            font-weight: 400;
            letter-spacing: 0.06rem;
        }

        .project-info-box {
            margin: 15px 0;
            background-color: #fff;
            padding: 10px 10px;
            border-radius: 5px;
            padding: 10px 10px;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        }

        #info-map {
            max-width: 650px;
        }

        .project-info-box p {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #d5dadb;
        }

            .project-info-box p:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }

        img {
            height: auto;
            -webkit-backface-visibility: hidden;
        }

        .rounded {
            border-radius: 5px !important;
        }

        .btn-xs.btn-icon {
            width: 34px;
            height: 34px;
            max-width: 34px !important;
            max-height: 34px !important;
            font-size: 10px;
            line-height: 34px;
        }
        /* facebook button */
        .btn-facebook, .btn-facebook:active, .btn-facebook:focus {
            color: #fff !important;
            background: #4e68a1;
            border: 2px solid #4e68a1;
        }

            .btn-facebook:hover {
                color: #fff !important;
                background: #3b4f7a;
                border: 2px solid #3b4f7a;
            }

        .btn-facebook-link, .btn-facebook-link:active, .btn-facebook-link:focus {
            color: #4e68a1 !important;
            background: transparent;
            border: none;
        }

            .btn-facebook-link:hover {
                color: #3b4f7a !important;
            }

        .btn-outline-facebook, .btn-outline-facebook:active, .btn-outline-facebook:focus {
            color: #4e68a1 !important;
            background: transparent;
            border: 2px solid #4e68a1;
        }

            .btn-outline-facebook:hover {
                color: #fff !important;
                background: #4e68a1;
                border: 2px solid #4e68a1;
            }

        /* twitter button */
        .btn-twitter, .btn-twitter:active, .btn-twitter:focus {
            color: #fff !important;
            background: #65b5f2;
            border: 2px solid #65b5f2;
        }

            .btn-twitter:hover {
                color: #fff !important;
                background: #5294c6;
                border: 2px solid #5294c6;
            }

            .btn-twitter:hover {
                color: #fff !important;
                background: #5294c6;
                border: 2px solid #5294c6;
            }

        .btn-twitter-link, .btn-twitter-link:active, .btn-twitter-link:focus {
            color: #65b5f2 !important;
            background: transparent;
            border: none;
        }

            .btn-twitter-link:hover {
                color: #5294c6 !important;
            }

        .btn-outline-twitter, .btn-outline-twitter:active, .btn-outline-twitter:focus {
            color: #65b5f2 !important;
            background: transparent;
            border: 2px solid #65b5f2;
        }

            .btn-outline-twitter:hover {
                color: #fff !important;
                background: #65b5f2;
                border: 2px solid #65b5f2;
            }

        /* google button */
        .btn-google, .btn-google:active, .btn-google:focus {
            color: #fff !important;
            background: #e05d4b;
            border: 2px solid #e05d4b;
        }

            .btn-google:hover {
                color: #fff !important;
                background: #b94c3d;
                border: 2px solid #b94c3d;
            }

        .btn-google-link, .btn-google-link:active, .btn-google-link:focus {
            color: #e05d4b !important;
            background: transparent;
            border: none;
        }

            .btn-google-link:hover {
                color: #b94c3d !important;
            }

        .btn-outline-google, .btn-outline-google:active, .btn-outline-google:focus {
            color: #e05d4b !important;
            background: transparent;
            border: 2px solid #e05d4b;
        }

            .btn-outline-google:hover {
                color: #fff !important;
                background: #e05d4b;
                border: 2px solid #e05d4b;
            }

        /* linkedin button */
        .btn-linkedin, .btn-linkedin:active, .btn-linkedin:focus {
            color: #fff !important;
            background: #2083bc;
            border: 2px solid #2083bc;
        }

            .btn-linkedin:hover {
                color: #fff !important;
                background: #186592;
                border: 2px solid #186592;
            }

        .btn-linkedin-link, .btn-linkedin-link:active, .btn-linkedin-link:focus {
            color: #2083bc !important;
            background: transparent;
            border: none;
        }

            .btn-linkedin-link:hover {
                color: #186592 !important;
            }

        .btn-outline-linkedin, .btn-outline-linkedin:active, .btn-outline-linkedin:focus {
            color: #2083bc !important;
            background: transparent;
            border: 2px solid #2083bc;
        }

            .btn-outline-linkedin:hover {
                color: #fff !important;
                background: #2083bc;
                border: 2px solid #2083bc;
            }

        /* pinterest button */
        .btn-pinterest, .btn-pinterest:active, .btn-pinterest:focus {
            color: #fff !important;
            background: #d2373b;
            border: 2px solid #d2373b;
        }

            .btn-pinterest:hover {
                color: #fff !important;
                background: #ad2c2f;
                border: 2px solid #ad2c2f;
            }

        .btn-pinterest-link, .btn-pinterest-link:active, .btn-pinterest-link:focus {
            color: #d2373b !important;
            background: transparent;
            border: none;
        }

            .btn-pinterest-link:hover {
                color: #ad2c2f !important;
            }

        .btn-outline-pinterest, .btn-outline-pinterest:active, .btn-outline-pinterest:focus {
            color: #d2373b !important;
            background: transparent;
            border: 2px solid #d2373b;
        }

            .btn-outline-pinterest:hover {
                color: #fff !important;
                background: #d2373b;
                border: 2px solid #d2373b;
            }

        /* dribble button */
        .btn-dribbble, .btn-dribbble:active, .btn-dribbble:focus {
            color: #fff !important;
            background: #ec5f94;
            border: 2px solid #ec5f94;
        }

            .btn-dribbble:hover {
                color: #fff !important;
                background: #b4446e;
                border: 2px solid #b4446e;
            }

        .btn-dribbble-link, .btn-dribbble-link:active, .btn-dribbble-link:focus {
            color: #ec5f94 !important;
            background: transparent;
            border: none;
        }

            .btn-dribbble-link:hover {
                color: #b4446e !important;
            }

        .btn-outline-dribbble, .btn-outline-dribbble:active, .btn-outline-dribbble:focus {
            color: #ec5f94 !important;
            background: transparent;
            border: 2px solid #ec5f94;
        }

            .btn-outline-dribbble:hover {
                color: #fff !important;
                background: #ec5f94;
                border: 2px solid #ec5f94;
            }

        /* instagram button */
        .btn-instagram, .btn-instagram:active, .btn-instagram:focus {
            color: #fff !important;
            background: #4c5fd7;
            border: 2px solid #4c5fd7;
        }

            .btn-instagram:hover {
                color: #fff !important;
                background: #4252ba;
                border: 2px solid #4252ba;
            }

        .btn-instagram-link, .btn-instagram-link:active, .btn-instagram-link:focus {
            color: #4c5fd7 !important;
            background: transparent;
            border: none;
        }

            .btn-instagram-link:hover {
                color: #4252ba !important;
            }

        .btn-outline-instagram, .btn-outline-instagram:active, .btn-outline-instagram:focus {
            color: #4c5fd7 !important;
            background: transparent;
            border: 2px solid #4c5fd7;
        }

            .btn-outline-instagram:hover {
                color: #fff !important;
                background: #4c5fd7;
                border: 2px solid #4c5fd7;
            }

        /* youtube button */
        .btn-youtube, .btn-youtube:active, .btn-youtube:focus {
            color: #fff !important;
            background: #e52d27;
            border: 2px solid #e52d27;
        }

            .btn-youtube:hover {
                color: #fff !important;
                background: #b31217;
                border: 2px solid #b31217;
            }

        .btn-youtube-link, .btn-youtube-link:active, .btn-youtube-link:focus {
            color: #e52d27 !important;
            background: transparent;
            border: none;
        }

            .btn-youtube-link:hover {
                color: #b31217 !important;
            }

        .btn-outline-youtube, .btn-outline-youtube:active, .btn-outline-youtube:focus {
            color: #e52d27 !important;
            background: transparent;
            border: 2px solid #e52d27;
        }

            .btn-outline-youtube:hover {
                color: #fff !important;
                background: #e52d27;
                border: 2px solid #e52d27;
            }

        .btn-xs.btn-icon span, .btn-xs.btn-icon i {
            line-height: 34px;
        }

        .btn-icon.btn-circle span, .btn-icon.btn-circle i {
            margin-top: -1px;
            margin-right: -1px;
        }

        .btn-icon i {
            margin-top: -1px;
        }

        .btn-icon span, .btn-icon i {
            display: block;
            line-height: 50px;
        }

        a.btn, a.btn-social {
            display: inline-block;
        }

        .mr-5 {
            margin-right: 5px !important;
        }

        .mb-0 {
            margin-bottom: 0 !important;
        }

        .btn-facebook, .btn-facebook:active, .btn-facebook:focus {
            color: #fff !important;
            background: #4e68a1;
            border: 2px solid #4e68a1;
        }

        .btn-circle {
            border-radius: 50% !important;
        }

        .project-info-box p {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #DBA312;
        }

        p {
            font-family: "Barlow", sans-serif !important;
            font-weight: 300;
            font-size: 1rem;
            color: #686c6d;
            letter-spacing: 0.03rem;
            margin-bottom: 10px;
        }

        b, strong {
            font-weight: 700 !important;
        }
        /*FIN Segunda parte de detalles servicio */


        .ribbon span {
            font-size: 0.8rem;
            color: black;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            line-height: 32px;
            transform: rotate(45deg);
            width: 125px;
            display: block;
            background: #79a70a;
            background: linear-gradient(#9bc90d 0%, #a7730a 100%);
            box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
            position: absolute;
            top: 17px;
           
        }

            .ribbon span::before {
                content: '';
                position: absolute;
                left: 0px;
                top: 100%;
                z-index: -1;
                border-left: 3px solid #a7730a;
                border-right: 3px solid transparent;
                border-bottom: 3px solid transparent;
                border-top: 3px solid #79A70A;
            }

            .ribbon span::after {
                content: '';
                position: absolute;
                right: 0%;
                top: 100%;
                z-index: -1;
                border-right: 3px solid #79A70A;
                border-left: 3px solid transparent;
                border-bottom: 3px solid transparent;
                border-top: 3px solid #79A70A;
            }

        .blue span {
            background: white;
        }

        .ribbon {
            position: absolute;
            right: -5px;
            top: -5px;
            z-index: 1;
            overflow: hidden;
            width: 93px;
            height: 93px;
            text-align: right;
        }

.card.cardvip {
    background: #DBA312;
}
.list-group-item.vip-group {
    background-color: #DBA312;
    color:white;
    font-weight:600;
    
}

.btnvip:hover {
    box-shadow: 0 1rem 3.5rem rgb(255 255 255 / 25%) !important;
}

.card.cardvip:hover {
    box-shadow: 0 1rem 3.5rem rgb(240 158 4 / 75%) !important;
}

/**FORM MODULAR********************** */
/* For the function */
.msf_hide {
    display: none;
}

        .msf_show {
            display: block;
        }

        .msf_bullet_o {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

            .msf_bullet_o > div {
                height: 15px;
                width: 15px;
                margin: 20px 10px;
                border-radius: 100px;
                z-index: 2;
            }

        .msf_bullet {
            background-color: lightgrey;
        }

        .msf_bullet_active {
            background-color: #DBA312 !important;
        }


        fieldset {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            box-shadow: rgba(0,0,0,0.1) 0px 1px 30px;
            border-radius: 0px;
            border: none;
            padding: 25px 20px !important;
        }

    

            input[type="text"]:focus, input[type="email"]:focus {
                opacity: 0.5;
            }

         /*   input[type="button"], input[type="submit"] {
                margin-top: 20px !important;
                cursor: pointer;
            }*/

                input[type="button"]:hover, input[type="submit"]:hover {
                    background-color: #DBA312;
                    color: white;
                }

        h2 {
            text-align: center;
            font-size: 22px;
            font-weight: 400;
            display: block;
            margin-bottom: 25px !important;
        }


        /** FIN FORM MODULAR********************** */

        /*tarjeta */

.payment-title {
    width: 100%;
    text-align: center;
}

.form-container .field-container:first-of-type {
    grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
    grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
    grid-area: security;
}

.field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-container {
    position: relative;
}

.form-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 90px 90px 90px;
    grid-template-areas: "name name""number number""expiration security";
    max-width: 400px;
    padding: 20px;
    color: #707070;
}


.ccicon {
    height: 38px;
    position: absolute;
    right: 6px;
    top: calc(50% - 17px);
    width: 60px;
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.containerr {
    width: 100%;
    max-width: 400px;
    max-height: 251px;
    height: 54vw;
    padding: 20px;
}

#ccsingle {
    position: absolute;
    right: 15px;
    top: 20px;
}

    #ccsingle svg {
        width: 100px;
        max-height: 60px;
    }

.creditcard svg#cardfront,
.creditcard svg#cardback {
    width: 100%;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
}


/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
    -webkit-transition: fill .5s;
    transition: fill .5s;
}



.creditcard .grey {
    fill: #bdbdbd;
}

.creditcard .greydark {
    fill: #616161;
}

/* FRONT OF CARD */
#svgname {
    text-transform: uppercase;
}

#cardfront .st2 {
    fill: #FFFFFF;
}

#cardfront .st3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

#cardfront .st4 {
    font-size: 54.7817px;
}

#cardfront .st5 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardfront .st6 {
    font-size: 33.1112px;
}

#cardfront .st7 {
    opacity: 0.6;
    fill: #FFFFFF;
}

#cardfront .st8 {
    font-size: 24px;
}

#cardfront .st9 {
    font-size: 36.5498px;
}

#cardfront .st10 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

#cardfront .st11 {
    font-size: 16.1716px;
}

#cardfront .st12 {
    fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
    fill: none;
    stroke: #0F0F0F;
    stroke-miterlimit: 10;
}

#cardback .st2 {
    fill: #111111;
}

#cardback .st3 {
    fill: #F2F2F2;
}

#cardback .st4 {
    fill: #D8D2DB;
}

#cardback .st5 {
    fill: #C4C4C4;
}

#cardback .st6 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardback .st7 {
    font-size: 27px;
}

#cardback .st8 {
    opacity: 0.6;
}

#cardback .st9 {
    fill: #FFFFFF;
}

#cardback .st10 {
    font-size: 24px;
}

#cardback .st11 {
    fill: #EAEAEA;
}

#cardback .st12 {
    font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
    font-size: 37.769px;
}

/* FLIP ANIMATION */
.container {
    perspective: 1000px;
}

.creditcard {
    width: 100%;
    max-width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer;
}

    .creditcard .front,
    .creditcard .back {
        position: absolute;
        width: 100%;
        max-width: 400px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-font-smoothing: antialiased;
        color: #47525d;
    }

    .creditcard .back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .creditcard.flipped {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }


   /* Elegir metodo de pago*/
body {
    background-color: #e6ebf4
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 5px 6px 6px 2px #e9ecef
}

.heading {
    font-size: 23px;
    font-weight: 700;
}

.text {
    font-size: 16px;
    font-weight: 500;
    color: #b1b6bd
}

.pricing {
    border: 2px solid #304FFE;
    background-color: #f2f5ff
}

.business {
    font-size: 20px;
    font-weight: 500
}

.plan {
    color: #aba4a4
}

.dollar {
    font-size: 16px;
    color: #6b6b6f
}

.amount {
    font-size: 50px;
    font-weight: 500
}

.year {
    font-size: 20px;
    color: #6b6b6f;
    margin-top: 19px
}

.detail {
    font-size: 22px;
    font-weight: 500
}

.cvv {
    height: 44px;
    width: 73px;
    border: 2px solid #eee
}

    .cvv:focus {
        box-shadow: none;
        border: 2px solid #304FFE
    }

.email-text {
    height: 55px;
    border: 2px solid #eee
}

    .email-text:focus {
        box-shadow: none;
        border: 2px solid #304FFE
    }

.payment-button {
    height: 70px;
    font-size: 20px
}

.mostrar {
    display:inline;
}


.control-form-feedback {
    position: absolute;
    padding: 12px;
    pointer-events: none;
}

.control-form {
    padding-left: 32px !important;
}

@media screen and (min-width: 1200px) {
    .planes-container {
       max-width: 22rem;
    }

}
@media screen and (max-width: 765px) {
    .planes-container {
        max-width:37rem;
     margin-right:auto;
     margin-left:auto;
    }
}
.text-small {
    font-size: 17px !important;
}

/* TENDENCIAS HOVER */
.contenedor {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}

.contenedor-imagen {
    width: 100%;
    height: 290px;
    display: flex;
    justify-content: center;
    position: relative;
}

    .contenedor-imagen img {
        max-width: 100%;
        max-height: 100%;
        align-content: center;
        transition: all 400ms ease-out;
        will-change: transform;
    }

    .contenedor-imagen .capa {
        position: absolute;
        top: 0;
        width: 100%;
        height: 290px;
        background: rgba(0, 0, 0, 0.5);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .contenedor-imagen:hover > .capa {
        opacity: 1;
        visibility: visible;
    }

    .contenedor-imagen:hover img {
        /*transform: scale(1.1);*/
    }


.layer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Ajusta el valor de la opacidad aquí */
    z-index: 99;
}

.glider-slide.active:hover .layer {
    display: block;
}

    .contenedor .capa p {
        color: #fff;
        /*  font-size: 1.8rem;*/
        font-weight: 300;
        /*  line-height: 1.5;   margin-top: 70px;*/
    }
    .contenedor .capa h1 {
        color: #fff;
        margin-top: 70px;
        font-size: 1.8rem;
        font-weight: 300;
        /*  line-height: 1.5;   */
    }

    /**TENDENCIAS*/



+ /* Estilos personalizados */
/* Estilo para los contenedores de los selects */
.container .card {
    border: none;
    background-color: #f8f9fa;
}

/* Estilo para el cuerpo del formulario */
.card-body {
    padding: 20px;
}

/* Estilo para los elementos del formulario */
.form-group {
    margin-bottom: 20px;
}

/* Estilo para las etiquetas de los selects */
.control-label {
    font-weight: bold;
}

/* Estilo para los selects */
.form-control {
    border: none;
    border-radius: 0;
    background-color: #e9ecef;
    color: #495057;
}

    /* Estilo para las opciones de los selects */
    .form-control option {
        color: #495057;
    }

/* Estilo para los selects en dispositivos móviles */
@media (max-width: 767.98px) {
    .col-md-10 select {
        width: 100%;
    }
}

.checkbox {
    display: none
}

.switch {
    display: inline-block;
    vertical-align: middle;
    width: 62px;
    height: 32px;
    background: #E5E5E5;
    z-index: 0;
    margin: 0;
    padding: 0;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius: 16px;
    transition: background-color 0.3s ease;
    margin: 5px;
    //IE 11 -moz-border-radius:16px;
    //Mozilla -webkit-border-radius:16px;
    //Chrome and Safari
}

.status {
    /*  position: absolute;
    top: 139px;
    left: 77px;*/
    transition: opacity 0.3s ease;
    vertical-align: middle;
}

#status1 {
    /*      position: absolute;
    top: 139px;
    left: 77px;*/
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#status2 {
    /*      position: absolute;
    top: 139px;
    left: 77px;*/
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#status3 {
    /*  position: absolute;
    top: 139px;
    left: 77px;*/
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 0px;
    vertical-align: middle;
}


.switch:before {
    content: ' ';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 60px;
    height: 30px;
    background: #FFFFFF;
    z-index: 1;
    border-radius: 16px;
    //IE 11 -moz-border-radius:16px;
    //Mozilla -webkit-border-radius:16px;
    //Chrome and Safari
}

.switch:after {
    content: ' ';
    height: 29px;
    width: 40px;
    border-radius: 28px;
    background: #FFFFFF;
    position: absolute;
    z-index: 2;
    top: 1px;
    left: 1px;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-box-shadow: 0 2px 5px #999999;
    box-shadow: 0 2px 5px #999999;
}

.switchOn, .switchOn:before {
    background: #DBA312 !important;
}

    .switchOn:after {
        left: 21px !important;
    }
