@{
    ViewBag.Title = "Contactanos";
}

<center>
    <img src="~/Imagenes/Verte Bien Transparente 2.png" width="128" height="128" style="margin-top:2%" />
    <h4>@ViewBag.Title </h4>
    <hr class="w-50" />
</center>
<br />

<style>
    p {
        font-family: "", sans-serif !important;
        color: #686c6d;
        letter-spacing: 0.03rem;
        margin-bottom: 10px;
    }
</style>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section"></h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-md-6 card shadow-lg">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <div id="form-message-warning" class="mb-4"></div>

                                <div class="col-md-8">
                                    <div class=" w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-map-marker"></span>
                                        </div>
                                        <div class="text">
                                            <p><span>Dirección:</span> Calle Juan Vizcaino y Zarzas, Ecuador</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class=" w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-phone"></span>
                                        </div>
                                        <div class="text">
                                            <p><span>Teléfono:</span> <a href="https://wa.me/593969286586" target="_blank">+593 96 928 6586 </a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class=" w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <i class="fas fa-envelope" style="color: #DBA312"></i>
                                        </div>
                                        <div class="text">
                                            <p><span>Email:</span> <a href="mailto:Informaciones@vertebien.net">Informaciones@vertebien.net</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class=" w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-globe"></span>
                                        </div>
                                        <div class="text">
                                            <p><span>Sitio web</span> <a href="https://vertebien.net/">Vertebien.net</a></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-stretch" style="min-height:400px;">
                            <div class="info-wrap w-100 p-5" id="map">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    // Coordenadas iniciales (latitud, longitud) y nivel de zoom
    var initialCoordinates = [-0.2529605095366246, -78.55191450902507]; // Cambia estas coordenadas según tu ubicación
    var initialZoomLevel = 13;

    // Crea el mapa
    var map = L.map('map').setView(initialCoordinates, initialZoomLevel);

    // Añade una capa de mapa base de OpenStreetMap
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    // Añade un marcador en las coordenadas iniciales
    L.marker(initialCoordinates).addTo(map)
        .bindPopup('¡Hola! Este es un marcador de ejemplo.');

</script>


