
@{
    ViewBag.Title = "Error";
}

<center>
    <img style="margin-top:2%" src="~/Imagenes/cerrar.png" />
    <h4 style="margin-top:2%; text-transform:uppercase">Su solicitud no pudo ser procesada</h4>
    <span  style="text-transform:uppercase">Contacte al administrador</span> <br />
    <p>
     <i class="fas fa-envelope me-1"></i>
     <a href="mailto:Informaciones@vertebien.net" style="text-decoration:none">Informaciones@vertebien.net</a>
    </p>
    <a href="/SERVICIOS/Index" class="btn text-white" style=" text-decoration:none; background-color:#DBA312"> Volver a inicio</a>
</center>
<br />